In [1]:
!pip install spotipy

Requirement already satisfied: spotipy in /anaconda3/lib/python3.7/site-packages (2.16.0)
Requirement already satisfied: six>=1.10.0 in /anaconda3/lib/python3.7/site-packages (from spotipy) (1.12.0)
Requirement already satisfied: requests>=2.20.0 in /anaconda3/lib/python3.7/site-packages (from spotipy) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->spotipy) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->spotipy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->spotipy) (2.8)

In [2]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
cid = 'f6f537de83784ff598bbf6f8d7bc5237'
secret = 'cf96af9e5ccd42399f8a11f58c7a873b'
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager
=
client_credentials_manager)

In [3]:
artist_name = []
track_name = []
popularity = []
track_id = []
#list multiple different features and append them
for i in range(0,1000,50):
    track_results = sp.search(q='year:2020', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])

In [4]:
import pandas as pd
track_dataframe = pd.DataFrame({'artist_name' : artist_name, 'track_name' : track_name, 'track_id' : track_id, 'popularity' : popularity})
print(track_dataframe.shape)
track_dataframe.head()

(1000, 4)

,artist_name,track_name,track_id,popularity
0,Cardi B,WAP (feat. Megan Thee Stallion),4Oun2ylbjFKMPTiaSbbCih,98
1,24kGoldn,Mood (feat. iann dior),3tjFYV6RSFtuktYl3ZtYcq,100
2,Drake,Laugh Now Cry Later (feat. Lil Durk),2SAqBLGA283SUiwJ3xOUVI,95
3,Pop Smoke,For The Night (feat. Lil Baby & DaBaby),0PvFJmanyNQMseIFrU708S,95
4,Internet Money,Lemonade,02kDW379Yfd5PzW5A6vuGt,94

In [5]:
#  {
#  "duration_ms" : 255349,
#   "key" : 5,
#   "mode" : 0,
#   "time_signature" : 4,
#   "acousticness" : 0.514,
#   "danceability" : 0.735,
#   "energy" : 0.578,
#   "instrumentalness" : 0.0902,
#   "liveness" : 0.159,
#   "loudness" : -11.840,
#   "speechiness" : 0.0461,
#   "valence" : 0.624,
#   "tempo" : 98.002,
#   "id" : "06AKEBrKUckW0KREUWRnvT",
#   "uri" : "spotify:track:06AKEBrKUckW0KREUWRnvT",
#   "track_href" : "https://api.spotify.com/v1/tracks/06AKEBrKUckW0KREUWRnvT",
#   "analysis_url" : "https://api.spotify.com/v1/audio-analysis/06AKEBrKUckW0KREUWRnvT",
#   "type" : "audio_features"
# }

In [6]:
df = track_dataframe

In [7]:
df.head()

,artist_name,track_name,track_id,popularity
0,Cardi B,WAP (feat. Megan Thee Stallion),4Oun2ylbjFKMPTiaSbbCih,98
1,24kGoldn,Mood (feat. iann dior),3tjFYV6RSFtuktYl3ZtYcq,100
2,Drake,Laugh Now Cry Later (feat. Lil Durk),2SAqBLGA283SUiwJ3xOUVI,95
3,Pop Smoke,For The Night (feat. Lil Baby & DaBaby),0PvFJmanyNQMseIFrU708S,95
4,Internet Money,Lemonade,02kDW379Yfd5PzW5A6vuGt,94

In [8]:
df['artist_name'].value_counts()

J Balvin                        105
Daddy Yankee                    101
KAROL G                          86
Justin Bieber                    27
Pop Smoke                        26
Lady Gaga                        21
Joji                             21
Juice WRLD                       20
Maroon 5                         18
Taylor Swift                     16
21 Savage                        15
Bad Bunny                        13
Machine Gun Kelly                13
Polo G                           10
The Kid LAROI                     9
Imagine Dragons                   9
BLACKPINK                         9
Jason Derulo                      8
Lil Uzi Vert                      8
Lil Baby                          8
Anuel AA                          8
Bryson Tiller                     8
Dua Lipa                          7
The Weeknd                        6
Drake                             6
Internet Money                    6
YoungBoy Never Broke Again        6
Lewis Capaldi                     6
Marshmello                        6
Travis Scott                      6
                               ...
salem ilese                       1
MAX                               1
Alesso                            1
Jeremy Zucker                     1
Alexander 23                      1
Calvin Harris                     1
Nio Garcia                        1
Sigala                            1
jxdn                              1
Migos                             1
Ozzy Osbourne                     1
Wallows                           1
All Time Low                      1
Maren Morris                      1
Beatking                          1
Banda MS de Sergio Lizárraga      1
ROLE MODEL                        1
ILLENIUM                          1
SAINt JHN                         1
High Valley                       1
John Legend                       1
Thundercat                        1
Bebe Rexha                        1
Sleepy Hallow                     1
Tory Lanez                        1
Lee Brice                         1
Billy Currington                  1
ZAYN                              1
Kameron Marlowe                   1
Hailee Steinfeld                  1
Name: artist_name, Length: 277, dtype: int64

In [11]:
pop_rank = df.groupby('artist_name').agg({'popularity':'mean'}).reset_index()

In [12]:
pop_rank.

                    artist_name  popularity
0                          $NOT   76.000000
1                   $uicideBoy$   82.000000
2                     21 Savage   78.866667
3                      24kGoldn  100.000000
4                        2KBABY   73.000000
5           5 Seconds of Summer   76.000000
6                         6LACK   72.000000
7                       6ix9ine   83.000000
8        A Boogie Wit da Hoodie   74.250000
9                     A$AP Ferg   74.000000
10                          AJR   72.000000
11                       Alesso   79.000000
12                 Alexander 23   83.000000
13                    Ali Gatie   74.000000
14                 All Time Low   74.000000
15                        Aminé   72.000000
16              Andrew Jannakos   68.000000
17                       Anitta   87.000000
18                     Anuel AA   49.750000
19                     Arcangel   80.000000
20                Ariana Grande   90.000000
21                         Ashe   78.000000
22                     Ashnikko   87.000000
23                      Ava Max   83.500000
24                  Avenue Beat   75.000000
25                 Aya Nakamura   87.000000
26                    BLACKPINK   82.222222
27                     BRS Kash   74.000000
28                          BTS   84.500000
29                    Baby Keem   73.000000
..                          ...         ...
247                  Thundercat   77.000000
248                  Tim McGraw   71.000000
249                 Tones And I   78.000000
250                  Tory Lanez   78.000000
251                Travis Scott   61.833333
252               Trevor Daniel   79.000000
253                Trippie Redd   78.000000
254           Twenty One Pilots   78.000000
255               Ty Dolla $ign   77.500000
256                  Tyla Yaweh   78.000000
257          Tyler, The Creator   75.000000
258                        Vedo   86.000000
259                     Wallows   74.000000
260            Waterloo Revival   70.000000
261                     WhoHeem   75.000000
262                Why Don't We   79.000000
263                XXXTENTACION   74.000000
264                   YFN Lucci   78.000000
265                   YNW Melly   81.000000
266                      Yandel   81.500000
267            Young T & Bugsey   75.000000
268  YoungBoy Never Broke Again   72.833333
269                        ZAYN   84.000000
270                        Zedd   78.000000
271                    Zoe Wees   82.000000
272                   blackbear   47.600000
273                   iann dior   75.000000
274                        jxdn   77.000000
275                   ppcocaine   71.000000
276                 salem ilese   89.000000

[277 rows x 2 columns]